{{title}}
<input type="text" [(ngModel)]="title">
<div *ngIf="title === 'Giame'"> 
  El titulo escorrecto
</div>
<button (click)='addItem()'>Add item</button>
<ul>
  <li *ngIf="names.length === 0"> List empty</li>
  <li *ngFor="let item of names; index as i ">
    {{i}} - {{item}}
    <button (click)='deleteItem(i)'>Delete</button>
  </li>
</ul>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'nicolas'">Nicolas</p>
  <p *ngSwitchCase="'julian'">Julian</p>
  <p *ngSwitchCase="'enmanuel'">Enmanuel</p>

</div>
<div class="product-grid">
  
  <app-product  
    *ngFor="let product of products"
    (addingToKart)="addToKart($event)" 
    [product]="product"></app-product>
  
</div>